[submodule "dependencies/websocketpp"]
	path = dependencies/websocketpp
	url = git@github.com:zaphoyd/websocketpp.git
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/miloyip/rapidjson
[submodule "deps/mxe"]
	path = deps/mxe
	url = https://github.com/mxe/mxe.git
