[submodule "dependencies/websocketpp"]
	path = dependencies/websocketpp
	url = git@github.com:zaphoyd/websocketpp.git
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/miloyip/rapidjson
[submodule "deps/cryptopp"]
	path = deps/cryptopp
	url = https://github.com/mmoss/cryptopp.git
